<div class="jumbotron center">
	<h1>Make the tasks done</h1>
	<p>The todo-list app synced with Slack</p>
	<button type="button" class="btn btn-secondary">Login</button>
	<button type="button" class="btn btn-primary">Signup</button>
</div>	
